<style>
.bottom-panel {
  position: fixed;
  font-size: 0.9rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.popup-wrapper {
  display: none;
  /* max-width: -webkit-calc(800px - (30px * 2)); */
  max-width: calc(800px - (30px * 2));
  margin: 0 auto;
  background-color: #e3e3e3;
  border-top: 3px solid black;
}

#popup-index {
  padding: 1.25rem 0 0 1.25rem;
}

#popup-close {
  padding: 1.25rem;
  margin-left: auto;
  cursor: pointer;
}

#popup-close:hover {
  background-color: #FFFFFF;
}

#popup-content {
  max-width: 500px;
  margin-right: 30px;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  text-align: left;
  padding: 0.25rem 0 0.5rem 1.0rem;
}

</style>
